#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
#cv_generator{
  display: flex;
  justify-content: space-around;
}

#col-1 {
  display: flex;
  flex-direction: column;
  background-color: #282828;
  width: 45%;
}

#col-2 {
  display: flex;
  flex-direction: column;
  background-color: #FAF9F6;
  color: #282828;
  width: 45%;

}


.form-section{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #1a1a1a;
  border: 2px solid;
  border-radius: 8px;
  border-color: #ffffff;
  margin-top: 20px;
  padding: 5px 10px 15px 10px;
}
.form-section:hover{
  border-style: solid;
  border-color: #535bf2;
}

.form-section label{
  text-align: left;
}

#generatedCV h2{
  display: flex;
  justify-content: center;
  background-color: #D2D2CF;
}

#ContactSection{
  background-color: #545454;
  color: #ffffff;
  padding:10px
}

#ContactSection #info_details{
  display: flex;
  justify-content: space-around;
}
.section{
  margin:10px 30px;
}

#educationDetails, #expDetails{
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
}
#left,  #right{
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

#singleExp, #singleEd{
  display: flex;
  
}


input{
  background-color: #1a1a1a;
  border: 2px solid #545454;
  border-radius: 4px;
}
input:hover{
  border-color: #646cff;
}
